/* src/components/Order.css */
.App {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
}

.menu-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-buttons button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
}

.menu-container {
  padding: 20px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3列のグリッド */
  gap: 15px; /* アイテム間の隙間 */
}

.menu-tile {
  background-color: #4CAF50; /* タイルの背景色 */
  color: white; /* テキストの色 */
  border: none;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s;
}

.menu-tile:hover {
  background-color: #45a049; /* ホバー時の色 */
}

.menu-submit {
  background-color: blue; /* タイルの背景色 */
  color: white; /* テキストの色 */
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s;
}